In [ ]:
#Assignment:Data Structure

#Q1. Discuss string slicing and provide examples.
#Ans:-String Slicing means obtaining a sub-string from the given string by slicing it respectively from start to end.

In [2]:
name="Esara"  #string slicing
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])

E
s
a
r
a

In [ ]:
#Q2. Explain the key features of lists in Python.
#Ans: - The Key feature of list in python are -
#1.Ordered: - Python lists  are ordered, it means that the items have a defined order, and that order will not change.
#2.Mutable: -list is changeable, meaning that we can change, add, and remove items in a list after it has #been created.
#3.Allow Duplicate: -Since lists are indexed, lists can have items with the same value.

In [ ]:
#Q3. Describe how to access, modify and delete elements in a list with examples

In [3]:
fruit_basket=["apple","mango","cherry","banana","grapes"]
fruit_basket

['apple', 'mango', 'cherry', 'banana', 'grapes']

In [5]:
print(fruit_basket[2]) #acess list with help of index number

cherry

In [6]:
#modify list 
fruit_basket

['apple', 'mango', 'cherry', 'banana', 'grapes']

In [16]:
fruit_basket.append("orange") #modify list with the help of append function

In [17]:
fruit_basket

['apple', 'mango', 'cherry', 'banana', 'grapes', 'orange']

In [20]:
fruit_basket.insert(1,"Guava") #modify list with the help of insert function

In [19]:
fruit_basket

['apple', 'Guava', 'mango', 'cherry', 'banana', 'grapes', 'orange']

In [21]:
fruit_basket=["apple","mango","cherry","banana","grapes"]
basket=["egg","bread","butter","jam"]

In [24]:
basket.extend(fruit_basket) #modify list with the help of extend function

In [23]:
basket

['egg',
 'bread',
 'butter',
 'jam',
 'apple',
 'mango',
 'cherry',
 'banana',
 'grapes']

In [26]:
fruit_basket=["apple","mango","cherry","banana","grapes"]
basket=["egg","bread","butter","jam"]
print(fruit_basket)
print(basket)

['apple', 'mango', 'cherry', 'banana', 'grapes']
['egg', 'bread', 'butter', 'jam']

In [30]:
fruit_basket+basket #modify list using concatenation

['apple',
 'mango',
 'cherry',
 'banana',
 'grapes',
 'egg',
 'bread',
 'butter',
 'jam']

In [31]:
#delete list 
fruit_basket

['apple', 'mango', 'cherry', 'banana', 'grapes']

In [34]:
del fruit_basket
#del will delete the list along with the variable

NameError: name 'fruit_basket' is not defined

In [35]:
basket

['egg', 'bread', 'butter', 'jam']

In [38]:
basket.clear()  #clear function will clear the list but the variable is not deleted

In [37]:
basket

[]

In [ ]:
#Q4. Compare and contrast tuples and lists with examples.

In [47]:
fruit_basket=["apple","mango","cherry","banana","grapes"] 
fruit_basket # declare with the help of square brackets, can store all data types

['apple', 'mango', 'cherry', 'banana', 'grapes']

In [52]:
fruit_basket[0]="Guava"

In [54]:
fruit_basket #list is mutable

['Guava', 'mango', 'cherry', 'banana', 'grapes']

In [49]:
t=(2,"pwskills","lab",9+5j)
t  #tuple can store all data types and declare in paranthesis

(2, 'pwskills', 'lab', (9+5j))

In [51]:
t[0]=5 #tuple are immutable

TypeError: 'tuple' object does not support item assignment

Q5.Describe the key features of sets and provide examples of their use.

In [39]:
s={2,3,25,5,5,45,2,8,9}

In [40]:
type(s)

set

In [42]:
s #sets are unordered and unique collection of elements #doesn't alllow duplicate elements

{2, 3, 5, 8, 9, 25, 45}

In [44]:
s[0] #as it is unordered indexing will not work

TypeError: 'set' object is not subscriptable

Q6. Discuss the use cases of tuples and sets in Python programming.

In [55]:
#use of tuple- some information that we donot want to modify
personal_details=("Aadhar no","Pan card no","Your name") #personal deatils is an example of some data structure that we donot want to change
personal_details[3]="new name"

TypeError: 'tuple' object does not support item assignment

In [57]:
#use of sets-imagine set as your travel list,in which you list places you want to go and you want unique places 
#you donot want to visit the same place twice
#with help of set you will make a set of travel destination and if you change your destination we can add or remove a particular place
travel={"Kerala","Darjeeling","Kashmir","Rajasthan"}
travel

{'Darjeeling', 'Kashmir', 'Kerala', 'Rajasthan'}

In [58]:
#if you want to check kashmir is there in the set or not
if "Kashmir" in travel:
    print("Already in plan")
else:
    print("Add this destination")

Already in plan

In [61]:
#you want add a new destination
travel.add("Delhi")

In [60]:
travel

{'Darjeeling', 'Delhi', 'Kashmir', 'Kerala', 'Rajasthan'}

In [62]:
#you want to remove kerala from the set as you decided not go
travel.discard("Kerala")

In [63]:
travel

{'Darjeeling', 'Delhi', 'Kashmir', 'Rajasthan'}

In [64]:
#Q7. Describe how to add, modify, and delete items in a dictionary with examples.

In [65]:
d={"name":"Esara","mail id ":"esara@gmail.com","phone number":12345}
d

{'name': 'Esara', 'mail id ': 'esara@gmail.com', 'phone number': 12345}

In [68]:
d["mail id "] #access value with the help of key value

'esara@gmail.com'

In [70]:
d["address"]="xyz"   ##modify data in dictionary
d

{'name': 'Esara',
 'mail id ': 'esara@gmail.com',
 'phone number': 12345,
 'address': 'xyz'}

In [73]:
del d["phone number"]  #delete a key pair

KeyError: 'phone number'

In [72]:
d

{'name': 'Esara', 'mail id ': 'esara@gmail.com', 'address': 'xyz'}

In [74]:
del d  #delete the whole dictionary

In [75]:
d

NameError: name 'd' is not defined

In [76]:
#Q8. Discuss the importance of dictionary keys being immutable and provide example

In [77]:
#To understand why dictionary keys must be immutable. Let us related it to hash table. The hash table
#implementation of dictionaries uses a hash value calculated from the key value to find the key. 
#If letâ€™s say the key was a mutable object, its value could change, and thus its hash could also change.

In [78]:
d={"name":"Esara","mail id ":"esara@gmail.com","phone number":12345}

In [83]:
d["address"]

KeyError: 'address'